<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<classPathEntry
		location="/home/tian/.m2/repository/mysql/mysql-connector-java/5.0.4/mysql-connector-java-5.0.4.jar" />
	<context id="buildmetadata">
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/buildmeta"
			userId="buildmeta" password="buildmeta" />
		
		<javaModelGenerator targetPackage="com.cloud.service.domain.model"
			targetProject="src/main/java" />
		<sqlMapGenerator targetPackage="com.cloud.service.domain.dao"
			targetProject="src/main/java" />
		<javaClientGenerator targetPackage="com.cloud.service.domain.dao"
			targetProject="src/main/java" type="XMLMAPPER" />
		 
		<table schema="buildmeta" tableName="farm">
			<generatedKey column="id" sqlStatement="MySql" identity="true" />
		</table>
	</context>
</generatorConfiguration>
